{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h2>Liste des livres</h2>
        <p>Recherche par genre</p>
        <form action="{{ path('booksByGenre') }}" method="get">
            <select name="genre">
                {% for g in genres %}
                <option value="{{ g.genre }}">{{ g.genre }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="{{ path('books') }}">Voir tous les livres</a>
    </div>

    <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="card-group">
                    {% for b in books %}


                    {% endfor %}
                    </div>
                </div>
            </div>

        {% for b in books %}
            {% if loop.first %}
                <div class="row"> {# open row #}
            {% endif %}


            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">{{ b.title }}</h5>
                    <h6>de {{ b.author }}</h6>
                    <small>{{ b.genre }}</small>
                    <br />
                    <p class="card-text">{{ b.pitch }}</p>
                    <a href="{{ path('book', { 'id': b.id }) }}" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>


            {% if loop.index % 3 == 0 %}
                </div><div class="row"> {# after 3 iterates close row and open new #}

            {% endif %}
            {% if loop.last %}
                </div> {# close last row #}
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}