{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">

            {{ message }}
        </div>
    {% endfor %}

<table class="table table-striped w-75 container text-center">
    <thead>
        <tr>
        <th scope="col">Email</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>@{{user.lastName}}</td>
                <td>@{{user.roles[0]}}</td>
                <td>
                    <a class="btn btn-outline-primary btn-lg" {#href="{{ path('/admin/update') }}"#} role="button">Update</a>
                    <a class="btn btn-outline-danger btn-lg" href="{{ path('admin_delete', {'id': user.id }) }}" role="button">Delete</a>
                </td>
            </tr>
        {% endfor %}           
    </tbody>
</table>


{% endblock %}