{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('delete') %}
        <div class="alert alert-success ">

            {{ message }}
        </div>
    {% endfor %}

<table class="table table-striped w-75 container text-center">
    <thead>
        <tr>
        <th scope="col">Email</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        {% set loopIndex = loop.index %}
            <tr>
                <td style="vertical-align:middle">{{user.email}}</td>
                <td style="vertical-align:middle">{{user.firstName}}</td>
                <td style="vertical-align:middle">{{user.lastName}}</td>
                <td style="vertical-align:middle">
                    <form action="" method="get">
                        <select style="width:90px">
                            {% if user.roles[0] == "ROLE_SUPERADMIN" %}
      
                                    <option value="ROLE_SUPERADMIN">SuperAdmin</option>
                                    <option value="ROLE_ADMIN">Admin</option>
                                    <option value="ROLE_CLIENT">Client</option>
                            {% endif %}
                            {% if user.roles[0] == "ROLE_ADMIN" %}
                                    <option value="ROLE_ADMIN">Admin</option>
                                    <option value="ROLE_SUPERADMIN">SuperAdmin</option>
                                    <option value="ROLE_CLIENT">Client</option>
                                {% endif %}
                                {% if user.roles[0] == "ROLE_CLIENT" %}
                                    <option value="ROLE_CLIENT">Client</option>
                                    <option value="ROLE_ADMIN">Admin</option>
                                    <option value="ROLE_SUPERADMIN">SuperAdmin</option>
                                {% endif %}
                                    
                        </select>
                </td>
                <td style="vertical-align:middle">
                    <a href="#" class="badge badge-secondary">Update</a>
                    <a href="{{ path('admin_delete', {'id': user.id }) }}" class="badge badge-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}           
    </tbody>
</table>


{% endblock %}