{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">

            {{ message }}
        </div>
    {% endfor %}
    <div class="jumbotron">
        <p class="lead">Bienvenue dans votre espace bibliothécaire.</p>
        <hr class="my-4">
        <p>L'utilisateur <strong>{{ user.0.firstName }} {{ user.0.lastName }}</strong> a actuellement <strong>{{ user.0.bookings|length }}</strong> livre(s) à rendre.</p>
        {% if user.0.bookings %}
            <ul class="list-group">
                {% for b in user.0.bookings %}
                <li class="list-group-item">
                    <p>{{ b.book.title }}</p>
                    <form method="post" action="{{ path('bookreturn', {'id': b.id })}}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Retourner ce livre</button>
                        <input id="firstName" name="firstName" type="hidden" value="{{ user.0.firstName }}">
                        <input id="lastName" name="lastName" type="hidden" value="{{ user.0.lastName }}">
                    </form>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script src="{{ asset('js/bookreturn.js') }}"></script>
{% endblock %}