{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">

            {{ message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue, {{ user.firstName }}</h1>
        <p class="lead">Bienvenue dans votre espace bibliothécaire.</p>
        <hr class="my-4">
        <p>Quelle action souhaitez-vous effectuer ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('revive') }}" role="button">Envoyer les mails de relance</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" id="myButton">Retourner un livre</a>
        </p>
        <div class="hidden" id="returnDiv">
            <p>Pour quel utilisateur voulez-vous retourner un livre ?</p>
            <form class="form-inline my-2 my-lg-0" autocomplete="off" method="post" action="{{ path('searchUser') }}" >
                <div class="autocomplete" style="width:300px;">
                <input class="form-control mr-sm-2" list="usersList" type="text" id="firstName" name="firstName" placeholder="Prénom" aria-label="Search">
                </div>
                <input class="form-control mr-sm-2" autocomplete="off" type="text" id="lastName" name="lastName" placeholder="Nom" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                <datalist id="usersList">

                </datalist>
            </form>
        </div>
    </div>

    <script src="{{ asset('js/bookreturn.js') }}"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}

